.header-container {
    width: 100%;
    background-color: black;
    padding: 2px 20px;
    color: white;
    box-sizing: border-box;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content p {
    margin: 0;
    font-size: larger;
  }
  
  .header-image {
    width: 40px; /* Puedes ajustar el tamaño de la imagen */
    height: auto;
  }
  